articles/Neural_Operator-Learning_Maps_Between_Function_Spaces_With_Applications_to_PDEs_Kovachki_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/SympGNNs-Symplectic_graph_neural_networks_for_identifying_high-dimensional_Hamiltonian_systems_and_node_classification_Varghese_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Symplectic_Recurrent_Neural_Networks_Chen_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/InferenceAndMachineLearningNotes_Deisenroth_ImperialCollege_2017.pdf filter=lfs diff=lfs merge=lfs -text
articles/Physics-informed_neural_networks-A_deep_learning_framework_for_solving_forward_and_inverse_problems_involving_nonlinear_pde_Raissi_2018.pdf filter=lfs diff=lfs merge=lfs -text
articles/Neural-Operator-CS159-0503-2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/Neural_Operator_For_Parametric_PDEs_Li_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/Variational_Autoencoding_Neural_Operators_Seidman_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/WorldFoundationModels/Cosmos_World_Foundation_Model_Platform_for_Physical_AI_Nvidia_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/QCPINN-Quantum_Classical_Physics-Informed_Neural_Networks_for_Solving_PDEs_Farea_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/Deep_Learning_for_High-Dimensional_Stochastic_Hamilton-Jacobi-Bellman_Equations_Arias_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/Physics-informed_learning_of_governing_equations_from_scarce_data_Chen_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/From_PINNs_to_PIKANs-Recent_Advances_in_Physics-Informed_Machine_Learning_Toscano_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Physics_Informed_Deep_Learning_Part_II-Data-driven_Discovery_of_Nonlinear_Partial_Differential_Equations_Raissi_2017.pdf filter=lfs diff=lfs merge=lfs -text
docs/Physics_Informed_Learning_Machines_NENAD19_Karniadakis.pdf filter=lfs diff=lfs merge=lfs -text
docs/Recent_Advances_in_PIML_Lu_2024.pdf filter=lfs diff=lfs merge=lfs -text
docs/Physics_Informed_Machine_Learning_Hao_2024.pdf filter=lfs diff=lfs merge=lfs -text
docs/Physics-informed_machine_learning_Moeller_icsm_2023.pdf filter=lfs diff=lfs merge=lfs -text
docs/Physics-informed_Machine_Learning-A_very_gentle_introduction_nih_piml_bilionis_v2.pdf filter=lfs diff=lfs merge=lfs -text
books/Lectures_Neural_Dynamics_Bullo_2025.pdf filter=lfs diff=lfs merge=lfs -text
books/Contraction_Theory_Dynamical_Systems_Bullo_2024.pdf filter=lfs diff=lfs merge=lfs -text
books/Lectures_Network_Systems_Bullo_2024.pdf filter=lfs diff=lfs merge=lfs -text
